@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");
:root {
  --bs-primary: #0d6efd;
}
body {
  font-family: "Quicksand", sans-serif;
}

.navbar ul li a {
  padding: 7px;
  transition: 0.3s all;
}

.navbar ul li a:hover {
  background-color: #fff;
  color: var(--bs-primary) !important;
  border-radius: 5px;
}

/* * Slider */
.container-fluid {
}
