@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap");
* {
  box-sizing: border-box;
}

html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
em,
img,
small,
strong,
dl,
dt,
dd,
ol,
ul,
li,
form,
label,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
footer,
header,
menu,
nav,
audio,
video {
  margin: 0;
  padding: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body {
  line-height: 1;
}

article,
aside,
footer,
header,
nav,
section {
  display: block;
}

table {
  border-collapse: collapse;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

a {
  text-decoration: none;
}

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
  font-family: "Inter", sans-serif;
}

nav {
  height: 55px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #6abe3f;
  box-shadow: 0 0.7px 2.2px rgba(0, 0, 0, 0.041), 0 1.8px 5.3px rgba(0, 0, 0, 0.08), 0 3.4px 10px rgba(0, 0, 0, 0.074), 0 6px 17.9px rgba(0, 0, 0, 0.07), 0 11.3px 33.4px rgba(0, 0, 0, 0.069), 0 27px 80px rgba(0, 0, 0, 0.07);
  position: fixed;
  top: 0;
}

nav h1 {
  font-size: 2.3rem;
  font-family: "Great Vibes", cursive;
  letter-spacing: 2px;
}

nav h1 a {
  color: #ffffff;
}

nav ul {
  list-style: none;
  width: 40%;
  display: flex;
  justify-content: space-evenly;
  transition: 0.3s all;
}

nav ul li {
  position: relative;
}

nav ul li:nth-child(1) a {
  color: #ffffff !important;
}

nav ul li a {
  color: #dfdede;
  font-weight: 500;
  transition: 0.3s all;
}

nav ul li a:hover {
  color: #ffffff;
}

nav ul li a:hover::before {
  content: "";
  position: absolute;
  transition: 0.3s all;
  width: 100%;
  bottom: -7px;
  border: 1px solid #ffffff;
}

nav .menu-hamburger {
  position: relative;
  height: 30px;
  width: 27px;
  display: none;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 10;
}

nav .menu-hamburger::before {
  content: "";
  position: absolute;
  width: 27px;
  height: 2px;
  background-color: #ffffff;
  transform: translateY(-10px);
  box-shadow: 0 10px 0 white;
  transition: 0.3s all;
}

nav .menu-hamburger::after {
  content: "";
  position: absolute;
  width: 27px;
  height: 2px;
  background-color: #ffffff;
  transform: translateY(10px);
  transition: 0.3s all;
}

.container {
  max-width: 85%;
  margin: 55px auto 0 auto;
}

@media only screen and (max-width: 576px) {
  nav {
    align-items: flex-start;
    position: relative;
    transition: 0.3s all;
  }
  nav.mobile {
    height: 275px;
  }
  nav.mobile h1::before {
    content: "";
    width: 100vw;
    height: 2px;
    background-color: #ffffff;
    position: absolute;
    right: 0;
    top: 55px;
    border-radius: 5px;
  }
  nav.mobile ul {
    display: flex;
    flex-direction: column;
    position: absolute;
    justify-content: space-evenly;
    height: 100%;
    left: 50px;
    top: 25px;
    bottom: 0;
  }
  nav.mobile ul li a {
    font-weight: bold;
  }
  nav.mobile ul li a:hover::before {
    content: "";
    border: none;
  }
  nav h1 {
    margin-top: 10px;
    font-size: 2rem;
  }
  nav ul {
    display: none;
  }
  nav .menu-hamburger {
    margin-top: 10px;
    display: flex;
  }
  nav .menu-hamburger.close::before {
    box-shadow: 0 0 0;
    transform: rotate(135deg) translateY(0);
  }
  nav .menu-hamburger.close::after {
    transform: rotate(-135deg) translateY(0);
  }
}

@media only screen and (max-width: 768px) {
  nav ul {
    width: 60%;
  }
}
/*# sourceMappingURL=main.css.map */