/* * Navbar */
nav .logo {
  font-size: 1.7rem;
}

nav ul {
  position: absolute;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  align-items: center;
  right: 0;
  top: 0;
  height: 100vh;
  width: 75%;
  font-size: 1rem;
  background-color: #74ebd5;
  background-image: linear-gradient(90deg, #74ebd5 0%, #9face6 100%);
  transform: translateX(100%);
  transition: 0.5s all;
}

nav ul.slide {
  transform: translateX(0);
}

nav ul img {
  display: block;
  max-width: 35px;
  height: 50px;
  position: absolute;
  top: 0;
  left: 15px;
  cursor: pointer;
}

nav ul img:focus {
  background-color: skyblue;
}

nav ul li a {
  color: #000;
  font-weight: 800;
}

nav .menu-hamburger {
  display: flex;
}

nav .menu-hamburger:focus {
  background-color: #6c79e9;
}

nav .menu-closeNav {
  display: block;
  transform: translateX(-100%);
  position: absolute;
  left: 0;
  height: 100vh;
  bottom: 0;
  top: 0;
  min-width: 25%;
  background-color: rgba(0, 0, 0, 0.7);
  transition: 0.5s all;
  cursor: pointer;
}

nav .menu-closeNav.mobile {
  transform: translateX(0);
}

nav .menu-closeNav .close {
  flex-direction: column;
  margin: 20px 45px 0 40%;
  min-width: 10px !important;
}

/* * Header */
header {
  background-position: 0 50%;
  background-size: cover;
  width: 100%;
  min-height: 200px;
}

header img {
  max-width: 25%;
  min-height: 10% !important;
}

header span {
  font-size: 1.3rem;
}

header small {
  font-size: 0.7rem;
}

/* * Project */
.project {
  margin-top: 0;
  max-width: 90%;
}

.project .my-row {
  align-items: center;
  margin: auto;
}

.project .my-row .card {
  margin: 10px auto;
  max-width: 75%;
}

/* * About */
.about .my-row {
  flex-direction: column;
  justify-content: left;
  align-items: flex-start;
  max-width: 90%;
}

.about .my-row .my-col {
  min-width: 95%;
  text-align: left;
  margin-left: 5px;
}

/* * Gambar & Poster */
.gambar .container-image {
  flex-direction: column;
  align-items: center;
}

.gambar .container-image .card-image {
  margin: 10px auto;
}

.gambar .container-image .card-image:nth-child(1) {
  margin-top: 1rem;
}

/* Gambar Faidah */
.gambar .container-image:nth-child(3) .card-image {
  max-width: 315px;
}

/* * Contact */
.contact form {
  position: static;
  max-width: 70%;
  align-items: center;
}

.contact form label {
  font-weight: 600;
  margin-right: auto !important;
}

.contact form input,
textarea {
  min-width: 300px;
}

.contact form button {
  margin-right: auto;
}

/* * Footer */
footer h3 {
  font-size: 1rem;
  text-align: center;
}

footer .icons {
  margin-bottom: 0;
  margin-left: auto;
  margin-top: 10px;
}

footer .icons a img {
  height: 23px;
  width: 23px;
}
