@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");
* {
  box-sizing: border-box;
}

html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
em,
img,
small,
strong,
dl,
dt,
dd,
ol,
ul,
li,
form,
label,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
footer,
header,
menu,
nav,
audio,
video {
  margin: 0;
  padding: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body {
  line-height: 1;
}

article,
aside,
footer,
header,
nav,
section {
  display: block;
}

table {
  border-collapse: collapse;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

a {
  text-decoration: none;
}

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

html {
  scroll-behavior: smooth;
}

html::-webkit-scrollbar {
  background-color: #ffffff;
}

html::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #bebebe;
  transition: 0.3s all;
}

html::-webkit-scrollbar-thumb:hover {
  background-color: #6b51ff;
}

html::-webkit-scrollbar-track {
  background-color: #eee;
  border-radius: 5px;
  transition: 0.3s all;
}

html::-webkit-scrollbar-track:hover {
  background-color: #c5c3c3;
}

body {
  font-family: "Inter", sans-serif;
}

nav {
  height: 70px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #ffffff;
  box-shadow: 0 0.7px 2.2px rgba(0, 0, 0, 0.041), 0 1.8px 5.3px rgba(0, 0, 0, 0.08), 0 3.4px 10px rgba(0, 0, 0, 0.074), 0 6px 17.9px rgba(0, 0, 0, 0.07), 0 11.3px 33.4px rgba(0, 0, 0, 0.069), 0 27px 80px rgba(0, 0, 0, 0.07);
  width: 100vw;
}

nav .logo {
  height: 50px;
}

nav .logo a {
  color: #2d17aa;
}

nav .logo a h2 {
  color: #000;
  font-size: 1.5rem;
  position: relative;
  font-family: "Dancing Script", cursive;
  letter-spacing: 3px;
}

nav .logo a h2 small {
  font-size: 1rem;
  position: absolute;
  color: #2d17aa;
}

nav .logo a h2 span {
  margin-left: 23px;
  letter-spacing: 3px;
}

nav ul {
  list-style: none;
  width: 40%;
  display: flex;
  justify-content: space-evenly;
  transition: 0.3s all;
}

nav ul li {
  position: relative;
}

nav ul li:nth-child(1) a {
  color: #2d17aa !important;
}

nav ul li a {
  color: #dfdede;
  font-weight: 500;
  transition: 0.3s all;
  font-size: 1.1rem;
}

nav ul li a:hover {
  color: #2d17aa;
}

nav ul li a:hover::before {
  content: "";
  position: absolute;
  transition: 0.3s all;
  width: 100%;
  bottom: -7px;
  border: 1px solid #2d17aa;
}

nav .menu-hamburger {
  position: relative;
  height: 30px;
  width: 27px;
  display: none;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 10;
}

nav .menu-hamburger::before {
  content: "";
  position: absolute;
  width: 27px;
  height: 2px;
  background-color: #2d17aa;
  transform: translateY(-10px);
  box-shadow: 0 10px 0 #2d17aa;
  transition: 0.3s all;
}

nav .menu-hamburger::after {
  content: "";
  position: absolute;
  width: 27px;
  height: 2px;
  background-color: #2d17aa;
  transform: translateY(10px);
  transition: 0.3s all;
}

header:nth-child(2) {
  background-color: #2d17aa;
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 2 1'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='0' x2='0' y1='0' y2='1'%3E%3Cstop offset='0' stop-color='%232d17aa'/%3E%3Cstop offset='1' stop-color='%237c25ff'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='0' y1='0' x2='0' y2='1'%3E%3Cstop offset='0' stop-color='%23bea4ff' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23bea4ff' stop-opacity='1'/%3E%3C/linearGradient%3E%3ClinearGradient id='c' gradientUnits='userSpaceOnUse' x1='0' y1='0' x2='2' y2='2'%3E%3Cstop offset='0' stop-color='%23bea4ff' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23bea4ff' stop-opacity='1'/%3E%3C/linearGradient%3E%3C/defs%3E%3Crect x='0' y='0' fill='url(%23a)' width='2' height='1'/%3E%3Cg fill-opacity='0.5'%3E%3Cpolygon fill='url(%23b)' points='0 1 0 0 2 0'/%3E%3Cpolygon fill='url(%23c)' points='2 1 2 0 0 0'/%3E%3C/g%3E%3C/svg%3E") center no-repeat fixed;
  background-size: cover;
  display: flex;
  align-items: center;
  height: 60vh;
  width: 100vw;
}

header:nth-child(2) img {
  width: 15%;
  margin-left: 100px;
  border-radius: 7px;
  box-shadow: 0 3.4px 2.7px rgba(0, 0, 0, 0.014), 0 8.7px 6.9px rgba(0, 0, 0, 0.025), 0 17.7px 14.2px rgba(0, 0, 0, 0.036), 0 36.5px 29.2px rgba(0, 0, 0, 0.048), 0 100px 80px rgba(0, 0, 0, 0.06);
  cursor: zoom-in;
  transition: 0.3s all;
}

header:nth-child(2) img:hover {
  opacity: 0.7;
}

header:nth-child(2) main {
  margin-left: 25px;
}

header:nth-child(2) main h4 {
  font-weight: 400;
  font-size: 1rem;
  margin-top: 10px;
  color: #b4b4b4;
}

header:nth-child(2) main h3 {
  font-weight: 400;
  font-size: 2rem;
  margin-top: 1rem;
  margin-bottom: 10px;
  color: #ffffff;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
}

header:nth-child(2) main p em {
  font-style: italic;
  color: #b4b4b4;
}

header:nth-child(2) main .medsos {
  margin-top: 1rem;
}

header:nth-child(2) main .medsos a img {
  max-width: 30px;
  margin-left: auto;
  transition: 0.3s all;
}

header:nth-child(2) main .medsos a img:hover {
  transform: translateX(3px);
}

header:nth-child(2) main .medsos a:nth-child(2) img {
  margin: 0 1.5rem;
}

header:nth-child(2) .lgbox {
  display: none;
  position: fixed;
  z-index: 5;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  overflow-y: hidden;
  overflow-x: hidden;
  background-color: #000;
  background-color: rgba(0, 0, 0, 0.9);
}

header:nth-child(2) .lgbox .icons {
  top: 16px;
  position: absolute;
  right: 10%;
  height: 90vh;
  min-width: 3%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

header:nth-child(2) .lgbox .icons .close {
  font-size: 45px;
  color: #fff;
  text-align: right;
  cursor: pointer;
}

header:nth-child(2) .lgbox .icons .close:hover {
  color: #ff0000;
}

header:nth-child(2) .lgbox .icons img[alt^="Download"] {
  margin: auto;
  width: 100%;
  position: absolute;
  bottom: 0;
  cursor: pointer;
}

header:nth-child(2) .lgbox .icons img[alt^="Icons Back Arrow"] {
  display: none;
}

header:nth-child(2) .lgbox .lgbox-content {
  margin: 3% auto 0 auto;
  display: block;
  width: 50%;
  max-width: 500px;
}

header:nth-child(2) .lgbox .caption-lgbox {
  margin: auto;
  color: #dad6d6;
  font-size: 1.3rem;
  text-align: center;
  width: 50%;
  max-width: 500px;
  padding: 10px;
}

header:nth-child(2) .lgbox .lgbox-content,
header:nth-child(2) .lgbox .caption-lgbox {
  animation-name: zoomG;
  animation-duration: 0.5s;
  transition: 0.5s;
}

@keyframes zommG {
  0% {
    transform: scale(0);
    -webkit-transform: scale(0);
  }
  100% {
    transform: scale(1);
    -webkit-transform: scale(1);
  }
}

/*
  * container *
*/
.container {
  max-width: 85%;
  margin: 1rem auto;
}

.container .article {
  padding-top: 7px;
}

.container .article header {
  margin-top: 1.3rem;
  position: relative;
}

.container .article header h2 {
  font-size: 1.3rem;
  font-weight: 600;
  background-image: linear-gradient(#1d069e, #000);
  background-image: -webkit-linear-gradient(#1d069e, #000);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
  text-align: center;
}

.container .article header h2::before {
  content: "";
  width: 8%;
  height: 2px;
  background-color: #1d069e;
  position: absolute;
  bottom: 0;
  right: 46%;
}

.container .article header hr {
  margin-right: auto;
  max-width: 50%;
}

.container .article main {
  margin-top: 2rem;
  display: flex;
  justify-content: space-evenly;
}

.container .article main .card-article {
  max-width: 400px;
  position: relative;
}

.container .article main .card-article a:nth-child(1) img {
  width: 100%;
  transition: 0.3s all;
  position: absolute;
  border-radius: 7px;
}

.container .article main .card-article a:nth-child(1) img:hover {
  border: 1px solid #1d069e;
  margin-bottom: -2px;
}

.container .article main .card-article article {
  width: 95%;
  border: 1px solid #eee;
  margin: auto;
  margin-top: 210px;
  position: relative;
  z-index: 3;
  background-color: #ffffff;
  padding: 10px;
}

.container .article main .card-article article .dibuat em {
  display: block;
  font-style: italic;
  font-size: 12px;
}

.container .article main .card-article article .dibuat em strong {
  font-weight: 600;
}

.container .article main .card-article article .dibuat em.date {
  margin-top: 10px;
}

.container .article main .card-article article .dibuat em.date::before {
  content: "";
  display: block;
  background: url(./../../icons/calender-svgrepo.svg) no-repeat;
  background-size: 10px;
  width: 10px;
  height: 10px;
  margin-right: 3px;
  float: left;
}

.container .article main .card-article article a h3 {
  font-weight: 600;
  color: #2d17aa;
  font-size: 1.1rem;
  text-transform: capitalize;
  transition: 0.3s all;
  margin: 10px 0;
}

.container .article main .card-article article a h3:hover {
  color: #000;
}

.container .article main .card-article article p {
  line-height: 23px;
}

.container .article main .card-article article p a:hover {
  text-decoration: underline;
}

.container .gambar {
  padding-top: 7px;
}

.container .gambar header {
  margin-top: 2rem;
  position: relative;
}

.container .gambar header h2 {
  font-size: 1.3rem;
  font-weight: 600;
  background-image: linear-gradient(#1d069e, #000);
  background-image: -webkit-linear-gradient(#1d069e, #000);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
  text-align: center;
}

.container .gambar header h2::before {
  content: "";
  width: 13%;
  height: 2px;
  background-color: #1d069e;
  position: absolute;
  bottom: 0;
}

.container .gambar header hr {
  max-width: 50%;
}

.container .gambar .row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.container .gambar .row img {
  max-width: 25%;
  margin-right: 1.3rem;
  margin-top: 1rem;
  border-radius: 10px;
  transition: 0.3s all;
  cursor: zoom-in;
}

.container .gambar .row img:hover {
  opacity: 0.7;
}

.container .gambar .row img[alt^="Ikatlah"] {
  border: 1px solid #eeeeee;
}

.container .gambar .row img[alt^="Kunci"] {
  border: 1px solid #eeeeee;
}

.container .gambar .row img[alt^="Ketengaan"] {
  border: 1px solid #eeeeee;
}

footer {
  margin-top: 3rem;
  margin-bottom: 0;
  background: url(./../../img/pemandangan/gfoot-unsplash.jpg) no-repeat center fixed;
  background-size: cover;
  background-clip: border-box;
  background-blend-mode: overlay;
  background-color: #4f31f7;
  background-position: center;
  padding: 10px;
  position: relative;
}

footer h2 {
  text-align: center;
  font-size: 1.3rem;
  margin-bottom: 1rem;
}

footer article {
  max-width: 50%;
  margin: auto;
}

footer article em {
  font-style: italic;
  color: #ffffff;
  margin-bottom: 10px;
  display: block;
}

footer article em:nth-last-child(2) {
  font-weight: 600;
}

footer article em:nth-last-child(1) {
  font-size: 12px;
  margin-bottom: 2.3rem;
}

footer article em:nth-last-child(1) a {
  color: #eee;
}

footer article em:nth-last-child(1) a:hover {
  text-decoration: underline;
}

footer article p {
  width: 100%;
  color: #eee;
  line-height: 25px;
}

footer article p:nth-child(2) {
  margin-top: 10px;
}

footer article p:nth-child(3) {
  margin-top: 7px;
  margin-bottom: 7px;
}

footer h3 {
  background-color: #252525;
  padding: 10px;
  color: #eee;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  text-align: center;
}

@media only screen and (max-width: 576px) {
  nav {
    align-items: flex-start;
    position: relative;
    transition: 0.3s all;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 5;
    height: 55px;
  }
  nav.mobile {
    height: 275px;
  }
  nav.mobile ul {
    display: flex;
    flex-direction: column;
    position: absolute;
    justify-content: space-evenly;
    height: 100%;
    left: 50px;
    top: 25px;
    bottom: 0;
  }
  nav.mobile ul li a {
    font-weight: 500;
  }
  nav.mobile ul li a:hover::before {
    content: "";
    border: none;
  }
  nav .logo {
    margin-top: 7px;
  }
  nav .logo a h2 {
    font-size: 1.2rem;
  }
  nav .menu-hamburger {
    margin-top: 13px;
    display: flex;
  }
  nav .menu-hamburger.close::before {
    box-shadow: 0 0 0;
    transform: rotate(45deg) translateY(0);
  }
  nav .menu-hamburger.close::after {
    transform: rotate(-45deg) translateY(0);
  }
  nav ul {
    display: none;
  }
  header {
    min-height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 55px;
  }
  header img[alt^="Tauhid Menyucikan Kalbu"] {
    margin-left: 0;
    min-width: 45%;
    border-radius: 50%;
  }
  header .lgbox .icons {
    max-height: 100vh !important;
    min-width: 10% !important;
    bottom: 0 !important;
    flex-direction: row !important;
    position: relative;
    z-index: 0;
  }
  header .lgbox .icons .close {
    display: none;
  }
  header .lgbox .icons img[alt^="Download"] {
    top: 0;
    margin: 0 !important;
    width: 25% !important;
    right: 0;
  }
  header .lgbox .icons img[alt^="Icons Back Arrow"] {
    display: block !important;
    margin-top: 80vh;
    margin-right: 0;
  }
  header .lgbox .icons img[alt^="Icons Back Arrow"]:hover {
    cursor: pointer;
  }
  header .lgbox .lgbox-content {
    margin: 25% auto 0 auto !important;
    width: 75% !important;
    max-width: 700px !important;
  }
  header .lgbox .caption-lgbox {
    font-size: 1rem !important;
  }
  header main h4 {
    text-align: center;
    margin-top: 1rem;
  }
  header main h3 {
    font-size: 1.5rem !important;
    text-align: center;
    margin: 0;
  }
  header main .medsos {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  header main .medsos a:nth-child(1) img {
    min-width: 30px;
  }
  header main .medsos a:nth-child(2) img {
    min-width: 30px;
  }
  header main .medsos a:nth-child(3) img {
    min-width: 30px;
  }
  .container .article header h2::before {
    width: 50%;
    left: 77px !important;
  }
  .container .article header hr {
    max-width: 80%;
  }
  .container .article main {
    flex-direction: column;
    align-items: center;
  }
  .container .article main .card-article {
    max-width: 300px;
  }
  .container .article main .card-article:nth-child(2) {
    margin-top: 1rem;
  }
  .container .article main .card-article article {
    margin-top: 150px;
    max-height: 250px;
    overflow-y: scroll;
  }
  .container .article main .card-article article::-webkit-scrollbar {
    background-color: #ffffff;
    width: 10px;
  }
  .container .article main .card-article article::-webkit-scrollbar-thumb {
    background-color: #bebebe;
    border-radius: 7px;
  }
  .container .article main .card-article article::-webkit-scrollbar-track {
    min-width: 15px;
  }
  .container .gambar header h2::before {
    width: 60%;
    left: 63px;
  }
  .container .gambar header hr {
    max-width: 80%;
  }
  .container .gambar .row {
    flex-direction: column;
    flex-wrap: nowrap;
  }
  .container .gambar .row img {
    max-width: 75%;
    margin: 10px auto;
  }
  footer h2 {
    text-align: center;
  }
  footer article {
    max-width: 100%;
    margin-left: 10px;
    margin-top: 1rem;
    margin-bottom: 2rem;
  }
  footer article em {
    font-style: italic;
    color: #ffffff;
    margin-bottom: 10px;
    display: block;
  }
  footer article em:nth-last-child(2) {
    font-weight: 600;
  }
  footer article em:nth-last-child(1) {
    font-size: 12px;
  }
  footer article em:nth-last-child(1) a {
    color: #eee;
  }
  footer article em:nth-last-child(1) a:hover {
    text-decoration: underline;
  }
  footer article p {
    width: 100%;
    color: #eee;
  }
  footer article p:nth-child(2) {
    margin-top: 10px;
  }
  footer article p:nth-child(3) {
    margin-top: 7px;
    margin-bottom: 7px;
  }
}

@media only screen and (max-width: 768px) {
  nav ul {
    width: 60%;
  }
}
/*# sourceMappingURL=main.css.map */